/* Custom Maverick colors */
@use "sass:color";

// alpha level for custom rgba defined colors
$transLevel: 0.85;

// Define base colors
$mavRedAccentBase: rgba(162, 19, 61, $transLevel);
$mavRedBase: rgba(224, 29, 90, $transLevel);

$mavBlueAccentBase: rgba(20, 148, 207, $transLevel);
$mavBlueBase: rgba(94, 179, 255, $transLevel);

$mavGreenAccentBase: rgba(11, 132, 83, $transLevel);
$mavGreenBase: rgba(43, 183, 124, $transLevel);

$mavOrangeAccentBase: rgba(208, 105, 33, $transLevel);
$mavOrangeBase: rgba(255, 161, 73, $transLevel);

$mavPurpleBase: rgba(131, 49, 254, $transLevel);
$mavPurpleAccentBase: rgba(179, 136, 255, $transLevel);

$mavYellowBase: rgba(255, 223, 72, $transLevel);

$mavGreyBase: rgba(158, 158, 158, $transLevel);

// Create color variants
$mavRed: (
  "darken-5":  color.adjust($mavRedBase, $lightness: -50%),
  "darken-4":  color.adjust($mavRedBase, $lightness: -40%),
  "darken-3":  color.adjust($mavRedBase, $lightness: -30%),
  "darken-2":  color.adjust($mavRedBase, $lightness: -20%),
  "darken-1":  color.adjust($mavRedBase, $lightness: -10%),
  "base":       $mavRedBase,
  "lighten-1":  color.adjust($mavRedBase, $lightness: +10%),
  "lighten-2":  color.adjust($mavRedBase, $lightness: +20%),
  "lighten-3":  color.adjust($mavRedBase, $lightness: +30%),
  "lighten-4":  color.adjust($mavRedBase, $lightness: +40%),
  "lighten-5":  color.adjust($mavRedBase, $lightness: +50%),
  "accent-1":   color.adjust($mavRedAccentBase, $lightness: +45%),
  "accent-2":   color.adjust($mavRedAccentBase, $lightness: +30%),
  "accent-3":   color.adjust($mavRedAccentBase, $lightness: +15%),
  "accent-4":   $mavRedAccentBase
);

$mavBlue: (
  "darken-5":  color.adjust($mavBlueBase, $lightness: -50%),
  "darken-4":  color.adjust($mavBlueBase, $lightness: -40%),
  "darken-3":  color.adjust($mavBlueBase, $lightness: -30%),
  "darken-2":  color.adjust($mavBlueBase, $lightness: -20%),
  "darken-1":  color.adjust($mavBlueBase, $lightness: -10%),
  "base":       $mavBlueBase,
  "lighten-1":  color.adjust($mavBlueBase, $lightness: +10%),
  "lighten-2":  color.adjust($mavBlueBase, $lightness: +20%),
  "lighten-3":  color.adjust($mavBlueBase, $lightness: +30%),
  "lighten-4":  color.adjust($mavBlueBase, $lightness: +40%),
  "lighten-5":  color.adjust($mavBlueBase, $lightness: +50%),
  "accent-1":   color.adjust($mavBlueAccentBase, $lightness: +45%),
  "accent-2":   color.adjust($mavBlueAccentBase, $lightness: +30%),
  "accent-3":   color.adjust($mavBlueAccentBase, $lightness: +15%),
  "accent-4":   $mavBlueAccentBase
);

$mavGreen: (
  "darken-5":  color.adjust($mavGreenBase, $lightness: -50%),
  "darken-4":  color.adjust($mavGreenBase, $lightness: -40%),
  "darken-3":  color.adjust($mavGreenBase, $lightness: -30%),
  "darken-2":  color.adjust($mavGreenBase, $lightness: -20%),
  "darken-1":  color.adjust($mavGreenBase, $lightness: -10%),
  "base":       $mavGreenBase,
  "lighten-1":  color.adjust($mavGreenBase, $lightness: +10%),
  "lighten-2":  color.adjust($mavGreenBase, $lightness: +20%),
  "lighten-3":  color.adjust($mavGreenBase, $lightness: +30%),
  "lighten-4":  color.adjust($mavGreenBase, $lightness: +40%),
  "lighten-5":  color.adjust($mavGreenBase, $lightness: +50%),
  "accent-1":   color.adjust($mavGreenAccentBase, $lightness: +45%),
  "accent-2":   color.adjust($mavGreenAccentBase, $lightness: +30%),
  "accent-3":   color.adjust($mavGreenAccentBase, $lightness: +15%),
  "accent-4":   $mavGreenAccentBase
);

$mavOrange: (
  "darken-5":  color.adjust($mavOrangeBase, $lightness: -50%),
  "darken-4":  color.adjust($mavOrangeBase, $lightness: -40%),
  "darken-3":  color.adjust($mavOrangeBase, $lightness: -30%),
  "darken-2":  color.adjust($mavOrangeBase, $lightness: -20%),
  "darken-1":  color.adjust($mavOrangeBase, $lightness: -10%),
  "base":       $mavOrangeBase,
  "lighten-1":  color.adjust($mavOrangeBase, $lightness: +10%),
  "lighten-2":  color.adjust($mavOrangeBase, $lightness: +20%),
  "lighten-3":  color.adjust($mavOrangeBase, $lightness: +30%),
  "lighten-4":  color.adjust($mavOrangeBase, $lightness: +40%),
  "lighten-5":  color.adjust($mavOrangeBase, $lightness: +50%),
  "accent-1":   color.adjust($mavOrangeAccentBase, $lightness: +45%),
  "accent-2":   color.adjust($mavOrangeAccentBase, $lightness: +30%),
  "accent-3":   color.adjust($mavOrangeAccentBase, $lightness: +15%),
  "accent-4":   $mavOrangeAccentBase
);

$mavPurple: (
  "darken-5":  color.adjust($mavPurpleBase, $lightness: -50%),
  "darken-4":  color.adjust($mavPurpleBase, $lightness: -40%),
  "darken-3":  color.adjust($mavPurpleBase, $lightness: -30%),
  "darken-2":  color.adjust($mavPurpleBase, $lightness: -20%),
  "darken-1":  color.adjust($mavPurpleBase, $lightness: -10%),
  "base":       $mavPurpleBase,
  "lighten-1":  color.adjust($mavPurpleBase, $lightness: +10%),
  "lighten-2":  color.adjust($mavPurpleBase, $lightness: +20%),
  "lighten-3":  color.adjust($mavPurpleBase, $lightness: +30%),
  "lighten-4":  color.adjust($mavPurpleBase, $lightness: +40%),
  "lighten-5":  color.adjust($mavPurpleBase, $lightness: +50%),
  "accent-1":   color.adjust($mavPurpleAccentBase, $lightness: +45%),
  "accent-2":   color.adjust($mavPurpleAccentBase, $lightness: +30%),
  "accent-3":   color.adjust($mavPurpleAccentBase, $lightness: +15%),
  "accent-4":   $mavPurpleAccentBase
);

$mavYellow: (
  "darken-5":  color.adjust($mavYellowBase, $lightness: -50%),
  "darken-4":  color.adjust($mavYellowBase, $lightness: -40%),
  "darken-3":  color.adjust($mavYellowBase, $lightness: -30%),
  "darken-2":  color.adjust($mavYellowBase, $lightness: -20%),
  "darken-1":  color.adjust($mavYellowBase, $lightness: -10%),
  "base":       $mavYellowBase,
  "lighten-1":  color.adjust($mavYellowBase, $lightness: +10%),
  "lighten-2":  color.adjust($mavYellowBase, $lightness: +20%),
  "lighten-3":  color.adjust($mavYellowBase, $lightness: +30%),
  "lighten-4":  color.adjust($mavYellowBase, $lightness: +40%),
  "lighten-5":  color.adjust($mavYellowBase, $lightness: +50%),
);

$mavGrey: (
  "darken-5":  color.adjust($mavGreyBase, $lightness: -50%),
  "darken-4":  color.adjust($mavGreyBase, $lightness: -40%),
  "darken-3":  color.adjust($mavGreyBase, $lightness: -30%),
  "darken-2":  color.adjust($mavGreyBase, $lightness: -20%),
  "darken-1":  color.adjust($mavGreyBase, $lightness: -10%),
  "base":       $mavGreyBase,
  "lighten-1":  color.adjust($mavGreyBase, $lightness: +10%),
  "lighten-2":  color.adjust($mavGreyBase, $lightness: +20%),
  "lighten-3":  color.adjust($mavGreyBase, $lightness: +30%),
  "lighten-4":  color.adjust($mavGreyBase, $lightness: +40%),
  "lighten-5":  color.adjust($mavGreyBase, $lightness: +50%),
);

$mavColors: (
  "mavblue": $mavBlue,
  "mavorange": $mavOrange,
  "mavred": $mavRed,
  "mavpurple": $mavPurple,
  "mavgreen": $mavGreen,
  "mavyellow": $mavYellow,
  "mavgrey": $mavGrey
);
