/* Custom Maverick colors */

// alpha level for custom rgba defined colors
$transLevel: 0.75;

$mavBlue: (
  "base":       rgba(33, 150, 243, $transLevel),
  "lighten-5":  rgba(227, 242, 253, $transLevel),
  "lighten-4":  rgba(187, 222, 251, $transLevel),
  "lighten-3":  rgba(144, 202, 249, $transLevel),
  "lighten-2":  rgba(100, 181, 246, $transLevel),
  "lighten-1":  rgba(66, 165, 245, $transLevel),
  "darken-1":   rgba(30, 136, 229, $transLevel),
  "darken-2":   rgba(25, 118, 210, $transLevel),
  "darken-3":   rgba(21, 101, 192, $transLevel),
  "darken-4":   rgba(13, 71, 161, $transLevel),
  "accent-1":   rgba(130, 177, 255, $transLevel),
  "accent-2":   rgba(68, 138, 255, $transLevel),
  "accent-3":   rgba(41, 121, 255, $transLevel),
  "accent-4":   rgba(41, 98, 255, $transLevel)
);

$mavOrange: (
  "base":       rgba(255, 152, 0, $transLevel),
  "lighten-5":  rgba(255, 243, 224, $transLevel),
  "lighten-4":  rgba(255, 224, 178, $transLevel),
  "lighten-3":  rgba(255, 204, 128, $transLevel),
  "lighten-2":  rgba(255, 183, 77, $transLevel),
  "lighten-1":  rgba(255, 167, 38, $transLevel),
  "darken-1":   rgba(251, 140, 0, $transLevel),
  "darken-2":   rgba(245, 124, 0, $transLevel),
  "darken-3":   rgba(239, 108, 0, $transLevel),
  "darken-4":   rgba(230, 81, 0, $transLevel),
  "accent-1":   rgba(255, 209, 128, $transLevel),
  "accent-2":   rgba(255, 171, 64, $transLevel),
  "accent-3":   rgba(255, 145, 0, $transLevel),
  "accent-4":   rgba(255, 109, 0, $transLevel)
);

$mavRed: (
  "base":       rgba(244, 67, 54, $transLevel),
  "lighten-5":  rgba(255, 235, 238, $transLevel),
  "lighten-4":  rgba(255, 205, 210, $transLevel),
  "lighten-3":  rgba(239, 154, 154, $transLevel),
  "lighten-2":  rgba(229, 115, 115, $transLevel),
  "lighten-1":  rgba(239, 83, 80, $transLevel),
  "darken-1":   rgba(229, 57, 53, $transLevel),
  "darken-2":   rgba(211, 47, 47, $transLevel),
  "darken-3":   rgba(198, 40, 40, $transLevel),
  "darken-4":   rgba(183, 28, 28, $transLevel),
  "accent-1":   rgba(255, 138, 128, $transLevel),
  "accent-2":   rgba(255, 82, 82, $transLevel),
  "accent-3":   rgba(255, 23, 68, $transLevel),
  "accent-4":   rgba(213, 0, 0, $transLevel)
);

$mavPurple: (
  "base":       rgba(103, 58, 183, $transLevel),
  "lighten-5":  rgba(237, 231, 246, $transLevel),
  "lighten-4":  rgba(209, 196, 233, $transLevel),
  "lighten-3":  rgba(179, 157, 219, $transLevel),
  "lighten-2":  rgba(149, 117, 205, $transLevel),
  "lighten-1":  rgba(126, 87, 194, $transLevel),
  "darken-1":   rgba(94, 53, 177, $transLevel),
  "darken-2":   rgba(81, 45, 168, $transLevel),
  "darken-3":   rgba(69, 39, 160, $transLevel),
  "darken-4":   rgba(49, 27, 146, $transLevel),
  "accent-1":   rgba(179, 136, 255, $transLevel),
  "accent-2":   rgba(124, 77, 255, $transLevel),
  "accent-3":   rgba(101, 31, 255, $transLevel),
  "accent-4":   rgba(98, 0, 234, $transLevel)
);

$mavGreen: (
  "base":       rgba(76, 175, 80, $transLevel),
  "lighten-5":  rgba(232, 245, 233, $transLevel),
  "lighten-4":  rgba(200, 230, 201, $transLevel),
  "lighten-3":  rgba(165, 214, 167, $transLevel),
  "lighten-2":  rgba(129, 199, 132, $transLevel),
  "lighten-1":  rgba(102, 187, 106, $transLevel),
  "darken-1":   rgba(67, 160, 71, $transLevel),
  "darken-2":   rgba(56, 142, 60, $transLevel),
  "darken-3":   rgba(46, 125, 50, $transLevel),
  "darken-4":   rgba(27, 94, 32, $transLevel),
  "accent-1":   rgba(185, 246, 202, $transLevel),
  "accent-2":   rgba(105, 240, 174, $transLevel),
  "accent-3":   rgba(0, 230, 118, $transLevel),
  "accent-4":   rgba(0, 200, 83, $transLevel)
);

$mavGrey: (
  "base":       rgba(158, 158, 158, $transLevel),
  "lighten-5":  rgba(250, 250, 250, $transLevel),
  "lighten-4":  rgba(245, 245, 245, $transLevel),
  "lighten-3":  rgba(238, 238, 238, $transLevel),
  "lighten-2":  rgba(224, 224, 224, $transLevel),
  "lighten-1":  rgba(189, 189, 189, $transLevel),
  "darken-1":   rgba(117, 117, 117, $transLevel),
  "darken-2":   rgba(97, 97, 97, $transLevel),
  "darken-3":   rgba(66, 66, 66, $transLevel),
  "darken-4":   rgba(33, 33, 33, $transLevel)
);

$mavColors: (
  "mavblue": $mavBlue,
  "mavorange": $mavOrange,
  "mavred": $mavRed,
  "mavpurple": $mavPurple,
  "mavgreen": $mavGreen,
  "mavgrey": $mavGrey
);
