$colors = {
  "mavindigo": {
    "base":       rgba(63,81,181,0.2),
    "lighten-5":  #00f3e0,
    "lighten-4":  #00e0b2,
    "lighten-3":  #000080,
    "lighten-2":  #00b74d,
    "lighten-1":  #00a726,
    "darken-1":   #008c00,
    "darken-2":   #007c00,
    "darken-3":   #006c00,
    "darken-4":   rgba(33,66,99,0.5),
    "accent-1":   #00d180,
    "accent-2":   #00ab40,
    "accent-3":   #009100,
    "accent-4":   #006d00
  }
}

@import '~vuetify/src/stylus/main'
